* {
  text-align: center;
}

#container {
    height: 300px;
    width: 100px;
    margin: 0 auto 50px;
    position: relative;
}
#img-container {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;    
    background-image: url(./img/coin_blank.png);
    background-repeat: no-repeat;
    background-position: center;
    /*transition: background-image 1s;
    transition-timing-function: ease;*/
  }

.spin {
    animation-name: cointoss;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

button {
      width: 100px;
      padding: 10px;
  }

#button_container {
    text-align: center;
}

  /*#img-container:active {
      margin-top: 100px;
  }*/

  @keyframes cointoss {
    /*0%  {background-image: url(./img/coin_spin.png); bottom: 0px; transform: rotate(0deg);}*/
    50%  {background-image: url(./img/coin_spin.png); bottom: 200px; transform: rotate(360deg);}
    100%  {background-image: url(./img/coin_spin.png); bottom: 0px; transform: rotate(720deg);}
  }